<h1><%= @song.title %></h1>

<strong>Artist: </strong><%= @song.artist.name %><br>
<strong>Genre: </strong><%= @song.genre.name %><br>
<h4>Notes:</h4> 
<ul>
    <% @song.notes.each do |note| %>
        <li><%= note.content %></li>
    <% end %>
</ul>